.destaques {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 33.33% 33.33% 33.33%;
  height: calc(100vh -50px);
  gap: .3rem;
}

.destaques__principal {
  background:url('../img/fortnite.jpg') center / cover no-repeat;
  grid-column: 1 / 4;
  grid-row: 1 / 3;
}

.destaques__titulo {
  color: azure;
  background: rgba(0, 0, 0 , 0.5);
  width: 100%;
  text-align: center;
  padding: .6rem;
}

.destaques__secundario:nth-child(2) {
  background: url(../img/pubg.jpg) center / cover no-repeat;
  grid-column: 4 / 4;
  grid-row: 1 / 2;
}

.destaques__secundario:nth-child(3) {
  background: url(../img/slack.png) center / cover no-repeat;
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}

.destaques__secundario:nth-child(4) {
  background: url(../img/whatsapp.png) center / cover no-repeat;
  grid-column: 4 / 5;
  grid-row: 3/ 4;
}
.destaques__secundario:nth-child(5) {
  background: url(../img/cs-go.jpg) center / cover no-repeat;
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}

.destaques__categorias {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
}

.destaques__categorias___lista {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-between;
}

.destaques__categorias___item {
  align-items: center;
  background: aliceblue;
  display: flex;
  color:black;
  width: 50%;
  padding: 1rem;
}

.destaques__categorias___link {
  color: inherit;
}

.box {
  align-items: flex-end;
  display: flex;
  justify-content: center;
}