/* BODY CLASS */
.app {
    background: #d0cfcf;
    font-family: Arial, Helvetica, sans-serif;
    display:grid;
    grid-template-areas:
    "header"
    "contenido" 
    "footer";
    grid-template-columns: auto;
    grid-template-rows: 50px 100vh auto;
    
}

.header {
    /* background: #00cc99; */
    grid-area: header;
    
}
.contenido {
    /* background: #ff8080; */
    grid-area: contenido;
}

.footer { 
    /* background: #0099ff; */
    grid-area: footer;
    
}