body{
    background-color: aliceblue;
}

.banner{ 
    width: 100%;

}

h2,h3{
    text-align: center;
    font-size: 30px;

}

p{
  text-align: center;
  color: rgb(0, 0, 0);

}

#mision{
    font-size: 20px;

}

.diferenciales{
    background: #9b7255;
    padding: 30px;

}


.items{
    font-style: italic;
    font-size: 20px;

}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
    
}

.imagenDiferenciales{
    width: 50%;
    
}

.titulo-principal{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
}



.principal p{
    margin: 0 0 1em;
    
}

.principal em{
    font-weight: bold;
 
}
.principal strong{
    font-style: italic;
}



