.head {
  align-items: center;
  background: #f9f9f9;
  display: flex;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
}

@media screen and(min-width: 0) {
  .head {
    justify-content: center;
    padding: 0 1rem;
  }
}

@media screen and(min-width: 768px) {
  .head {
    justify-content: space-between;
    padding: 0 5rem;
  }
}