.head {
  align-items: center;
  background: white;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
}

.menu__lista {
  display: flex;

}

.menu__item {
  list-style: none;
}

.lista__link {
  color: #808080;
  margin-right: 1.25rem;
  text-decoration: none;
  text-transform: lowercase;
}

.menu__item:last-child .lista__link {
  margin-right: 0;
}

.menu__item .activo {
  color: red;
  font-weight: bold;
}

.lista__link:hover {
  text-decoration: underline;
}

.banner {

}

.banner__img {
  background: url(../img/banner.jpg) no-repeat center / cover;
  width: 100%;
  
}

.banner__titulo {
  color: #fdfdfd;
  font-family: 'Pacifico', cursive;
  position: absolute;
  /* left: 50%; */
  text-align: center;
  top: 50%;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
  width: 100%;
  transform: translate(-50% -50%);
}

@media screen and(min-width: 0) {
  .banner__img {
    height: calc(100vh - 51px);
  }
}

@media screen and(min-width: 768px) {
  .banner__img {
    height: calc(100vh - 72px);
  }
}

@media screen and(min-width: 0) {
  .banner__titulo {
    font-size: 3rem;
  }
}

@media screen and(min-width: 768px) {
  .banner__titulo {
    font-size: 5.0625rem;
  }
}



.sobre {
  text-align: center;
  padding: 2.5rem;
  width: 100%;
}

@media screen and(min-width: 0) {
  .sobre {
    padding: 2.5rem 1rem;
  }
}

@media screen and(min-width: 768px) {
  .sobre {
    padding: 2.5rem;
  }
}

.sobre__titulo {
  color: #8d0606;
  font-family: 'Pacifico', cursive;
}

@media screen and(min-width: 0) {
  .sobre__titulo {
    font-size: 2rem;
  }
}

@media screen and(min-width: 768px) {
  .sobre__titulo {
    font-size: 3.1875rem;
  }
}


.sobre__texto {
  /* color: #595959; */
  color: aliceblue;
  font-weight: 100;
}

@media screen and(min-width: 0) {
  .sobre__texto {
    font-size: 1.3rem;
  }
}

@media screen and(min-width: 768px) {
  .sobre__texto{
    font-size: 1.75rem;
  }
}
